:root {
  --white: rgba(255, 255, 255, 0.87);
  --primary-color: hsl(330 100% 70%);
  --primary-color-1: hsl(330 100% 70%/0.1);
  --primary-color-2: hsl(330 100% 70%/0.2);
  --primary-color-3: hsl(330 100% 70%/0.3);
  --primary-color-4: hsl(330 100% 70%/0.4);
  --primary-color-5: hsl(330 100% 70%/0.5);
  --primary-color-6: hsl(330 100% 70%/0.6);
  --primary-color-7: hsl(330 100% 70%/0.7);
  --primary-color-8: hsl(330 100% 70%/0.8);
  --primary-color-9: hsl(330 100% 70%/0.9);
}

* {
  accent-color: var(--primary-color);
}

#root {
  display: grid;
  min-height: 80vh;
  place-content: center;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.mixer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.channels {
  display: flex;
}

.channels > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.channel {
  display: flex;
  flex-direction: column;
  background: #000;
  padding: 20px;
  align-items: center;
  max-width: 120px;
  border-radius: 12px;
  height: 100%;
  overflow: hidden;
}

.channels > div:nth-last-of-type(2),
.channels > div:nth-last-of-type(3),
.channels > div:last-of-type {
  display: flex;
  flex-direction: column;
  /* border: 1px solid var(--primary-color); */
  border-radius: 12px;
  margin-left: 8px;
  padding: 0;
}

.channel:nth-last-of-type(1) {
  /* border: 1px dashed var(--primary-color); */
}

.channels > div:last-of-type input[type="range"] {
  height: 100%;
}

.channels > div:nth-last-of-type(2),
.channels > div:nth-last-of-type(3) {
  /* background: black; */
}

.track-label {
  user-select: none;
}

.range-x {
  width: 100%;
  padding: 8px 0;
}

.range-y {
  rotate: 270deg;
  display: flex;
  flex-direction: column;
  height: 150px;
}

.window {
  border: 1px solid hsl(120, 0%, 52%);
  padding: 8px;
  border-radius: 8px;
  width: 8ch;
}

.fx-select {
  text-align: center;
  width: 100%;
  padding: 8px 4px;
  background: none;
  border: none;
  color: var(--primary-color);
  max-width: 120px;
  border-radius: 8px;
  background: black;
}

.fx-panel {
  text-align: left;
  background: black;
  padding: 12px 36px 36px;
  z-index: 99;
  border-radius: 12px;
}

select[id="song-select"] {
  padding: 12px;
  width: fit-content;
  margin: 24px auto;
  border: none;
  border-radius: 8px;
}
